<div class="parallaxContent">
    <div class="parallaxContent-sub">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6">
                <table>
                    <tbody>
                        <tr>
                            <td style="text-align: center;">
                                <img src="../../../assets/view/senseOftheSea.jpg" width="100%">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6">
                <table align="center">
                    <tbody>
                        <tr>
                            <td class="col1">
                                คอนโดแนวคิด “Sense Of The Sea”             
                            </td>
                        </tr>
                        <tr>
                            <td class="col2">
                                ดีไซน์ในแบบสไตล์รีสอร์ทติดริมทะ สัมผัสบรรยากาศอยู่ติดริมทะเลตลอดเวลา
                            </td>
                        </tr>
                        <tr>
                            <td class="col1">
                                สิ่งอำนวยความสะดวก
                            </td>
                        </tr>
                        <tr>
                            <td class="col3">
                                <i class="fa fa-circle" style="color: orangered"></i> สระว่ายน้ำรายล้มด้วยสวน
                            </td>
                        </tr>
                        <tr>
                            <td class="col3">
                                <i class="fa fa-circle" style="color: orangered"></i> ฟิตเนสอุปกรณ์เต็มรูปแบบ
                            </td>
                        </tr>
                        <tr>
                            <td class="col3">
                                <i class="fa fa-circle" style="color: orangered"></i> เข้าออกด้วยระบบ Keycard Access
                            </td>
                        </tr>
                        <tr>
                            <td class="col3">
                                <i class="fa fa-circle" style="color: orangered"></i> ระบบ CCTV รักษาความปลอดภัยตลอด 24 ชม.
                            </td>
                        </tr>
                        <tr>
                            <td class="col3">
                                <i class="fa fa-circle" style="color: orangered"></i> เดินทางจาก bts บางจากเพียง 400 เมตร
                            </td>
                        </tr>
                    </tbody>
                </table>
              </div>
          </div>
        </div>
    </div>
</div>
