<div class="parallaxContent">
    <div class="parallaxContent-sub">
       <div class="container-fluid">
          <div class="row"> 
              <table align="center" class="table1">
                    <tr>
                        <td align="center" class="header">
                            เดินทางสะดวกสบายอีกเท่าตัว ลดระยะเวลาการเดินทางให้สั้นลง
                        </td>
                    </tr>
              </table>
                
          </div>
          <div class="row">
            <div class="col-sm-4">
                <table align="center">
                    <tr>
                        <td align="center" class="iconhead">
                            <i  class="fa fa-car" aria-hidden="true"></i>        
                        </td>
                    </tr>
                    <tr>
                        <td align="center" class="detail">
                            พิเศษบูรพาวิถี จุดขึ้นบางนา กม.2 <br>
                            4.8 กิโลเมตร
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-4">
                <table align="center">
                    <tr>
                        <td align="center" class="iconhead">
                            <i  class="fa fa-train" aria-hidden="true" ></i>        
                        </td>
                    </tr>
                    <tr>
                        <td align="center" class="detail">
                            BTS บางจาก<br>
                            ระยะทาง 400 เมตร
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-4">
                <table align="center">
                    <tr>
                        <td align="center" class="iconhead">
                            <i  class="fa fa-car" aria-hidden="true"></i>        
                        </td>
                    </tr>
                    <tr>
                        <td align="center" class="detail">
                            ทางพิเศษ S1 ด่านบางนา<br>
                            1.9 กิโลเมตร
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                    </tr>
                </table>
            </div>
    </div>
</div>